name: CI
on:

  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
    types: [opened, synchronize]
    branches:
      - main

jobs:

  build:
    name: vet  and test
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 'stable'
      id: go

    - name: Check out code
      uses: actions/checkout@v5
      with:
        fetch-depth: 1

    - name: Install dependencies (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        echo "nothing to do."

    - name: Install dependencies (macOS)
      if: matrix.os == 'macos-latest'
      run: |
        echo "nothing to do."
        
    - name: Install dependencies (Linux/Ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: |
        echo "nothing to do"

    - name:  lint the code
      run: make lint
      shell: bash

    - name: check golang formatting
      run: make check.go.fmt
      shell: bash

    - name:  run unit tests
      run: make test
      shell: bash

